.skill-icons {
    display: flex;
    justify-content: space-evenly;
    /*background-color: rgb(20,20,20);*/
    padding: 38px 0;
    /*opacity: 40%;*/
}

.skill-container {
    display: flex;
    gap: 38px;
}

.skill-container i {
    margin-right: 20px;
    font-size: 96px;
    color: rgb(150,150,150);
}

.text-scroll-reveal i {
    opacity: 0%;
    animation: icon-scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range-start: contain 5vh;
    animation-range-end: contain 90vh;
}

@keyframes icon-scroll-reveal {
    30% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }
}